$avatar-size: 40px;

.circle {
  background-color: #ccc;
  border-radius: 50%;
  height: $avatar-size;
  text-align: center;
  width: $avatar-size;
}

.initials {
  font-size: calc($avatar-size / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc($avatar-size / 4); /* 25% of parent */
}

.btn-coffee {
  background-color: #6f4e37;
  color: #fff;
}
