<div class="mb-2 d-flex align-items-center">
  <h1 class="h3">Ratings</h1>
  <div class="text-end flex-grow-1">
    <button type="button" class="btn btn-text" (click)="onToggleFilters()"><i class="fas fa-filter"></i></button>
  </div>
</div>

<p *ngIf="!(ratings$ | async)?.length">No Ratings</p>

<div class="row gy-3">
  <div class="col-12" *ngFor="let r of (ratings$ | async); let i = index">
    <div class="card rating">
      <div class="rating__controls position-absolute top-50 end-0 translate-middle-y">
        <div class="" *ngIf="r.user_id === (currentUser$ | async)?.id">
          <i class="far fa-edit me-3"></i>
          <i class="far fa-trash-alt me-3"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="card-title mb-0">
          <span [ngStyle]="{'background-color': getColor(r), '--bs-bg-opacity': 1}"
            class="position-absolute top-50 end-0 translate-middle p-2 border border-light rounded-circle">
            <span class="visually-hidden">color dot</span>
          </span>

          <a class="d-block link-dark p-0 text-decoration-none" data-bs-toggle="collapse" href="#collapse-{{i}}">
            {{ r.created_at | date:"MMM d, y" }} <br/>
            {{ (getBean(r.bean_id) | async)?.origin }} ({{ getRoast((getBean(r.bean_id) | async)?.roast) }} Roast)
          </a>
        </div>

        <div class="collapse mt-3" id="collapse-{{i}}">
          <p class="card-text">
            Method: {{ (getMethod(r.method_id) | async)?.type }}<br/>
            Flavor: {{ Flavor[r.flavor] | sentenceCase }}<br/>
            Aroma: {{ Aroma[r.aroma] | sentenceCase }}<br/>
            Grams: {{ r.grams }}g <span *ngIf="r?.grind !== null">({{ (r.grind !== undefined && r.grind > -1 !== null ? Grind[r.grind] : 'Unknown') | sentenceCase}})</span>
          </p>
          <ng-container *ngIf="r.notes">
            <p class="bg-light p-2 mb-0 rounded shadow-sm">
              Notes:<br/>
              {{ r.notes }}
            </p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 h1 m-3 rounded-circle align-items-center justify-content-center d-flex shadow-sm"
  style="height: 55px; width: 55px; cursor: pointer">
  <i class="fas fa-plus-circle d-block" (click)="onAddRating()"></i>
</div>
