/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.swipe-card {
  &__controls {
    background-color: #fff;
    z-index: 1;
  }
}

.swipe-wrap {
  width: 100%;
  height: 100%;
}

.fs-7 {
  font-size: .66rem;
}

.fs-8 {
  font-size: .5rem;
}
